/emu
/emu/grubimage.img
/build
/vendor/cargo
/vendor/bindgen
/vendor/rlibc/src
/vendor/rust
/vendor/binutils
/vendor/mtools
/vendor/sysroot
/vendor/libcxx
/vendor/compiler-rt
/vendor/autoconf
/vendor/automake
/vendor/avery-llvm
/vendor/avery-binutils
/vendor/avery-rust
/vendor/avery-newlib
/verifier/target
