/emu
/emu/grubimage.img
/build
/vendor/cargo
/vendor/bindgen
/vendor/rlibc/src
/vendor/rust
/vendor/elf-binutils
/vendor/mtools
/vendor/avery-sysroot
/vendor/libcxx
/vendor/compiler-rt
/vendor/autoconf
/vendor/automake
/vendor/llvm
/vendor/binutils
/vendor/newlib
/verifier/target
